<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
   
    <appender name="MyRollingFileAppender1" type="log4net.Appender.RollingFileAppender">
      <file value="C:\logs\Logs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<header value="DateTime |  Level | ClassName | Message&#13;&#10;" />
        <conversionPattern value="%date | %-5level | %logger | %message%newline" />-->
        <conversionPattern value="%d [%t] | %-5p | %m%n" />
      </layout>
    </appender>

    <!--<appender name="MyRollingFileAppender2" type="log4net.Appender.RollingFileAppender">
      <file value="C:\logs\CryptographyLogs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        --><!--<header value="DateTime |  Level | ClassName | Message&#13;&#10;" />
        <conversionPattern value="%date | %-5level | %logger | %message%newline" />--><!--
        <conversionPattern value="%d [%t] | %-5p | %m%n" />
      </layout>
    </appender>-->
    

    <root>
      <level value="ALL" />
      <appender-ref ref="MyRollingFileAppender1" />
      <!--<appender-ref ref="MyRollingFileAppender2" />-->
    </root>

    <!--<logger name="logger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="MyRollingFileAppender1" />
    </logger>-->

    <!--<logger name = "CryptographyLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="MyRollingFileAppender2" />
    </logger>-->

  </log4net>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>