<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="app:IpAddress" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="app:Port" value="8001" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1213">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net_prod.config" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      </factoryAdapter>
    </logging>
  </common>
</configuration>